<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .x_content form ul {
            list-style: none;
        }

        .x_content form ul li {
            width: 350px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>服务类型管理==》新建服务类型 <i class="fa fa-user"></i></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix"></div>
                    <form class="form-horizontal form-label-left" action="/dict/add" method="get">
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dict_value"> 值 <span
                                    class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="dict_value" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="10" data-validate-words="1" name="dict_value"
                                       required="required" placeholder="请输入值" type="text">
                            </div>
                        </div>
                        <input type="hidden" name="dictType" value="服务类型">
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-primary" id="back">返回</button>
                                <br><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>