<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.crm.mapper.DictMapper">
    <resultMap id="DictMap" type="com.yq.crm.entity.Dict">
        <id property="dict_id" column="dict_id"/>
        <result property="dict_is_editable" column="dict_is_editable"/>
        <result property="dict_item" column="dict_item"/>
        <result property="dict_type" column="dict_type"/>
        <result property="dict_value" column="dict_value"/>
    </resultMap>

    <select id="finIdAndValue" resultMap="DictMap">
        select * from bas_dict <where>
        <if test="id!='' and value==''">
            dict_id=#{id}
        </if>
        <if test="id=='' and value!=''">
            dict_value like CONCAT('%',#{value},'%')
        </if>
        <if test="id!='' and value!=''and id!=null and value!=null">
            dict_id=#{id} and  dict_value like CONCAT('%',#{value},'%')
        </if>
        and 1=1
    </where> LIMIT #{current},#{pageSize}
    </select>

    <select id="count" resultType="int">
        select count(1) from bas_dict <where>
        <if test="id!='' and value==''">
            dict_id=#{id}
        </if>
        <if test="id=='' and value!=''">
            dict_value like CONCAT('%',#{value},'%')
        </if>
        <if test="id!='' and value!=''and id!=null and value!=null">
            dict_id=#{id} and  dict_value like CONCAT('%',#{value},'%')
        </if>
        and 1=1
    </where>
    </select>

    <delete id="delDict">
        delete from bas_dict where dict_id=#{id}
    </delete>

    <update id="updDict" parameterType="com.yq.crm.entity.Dict">
        update bas_dict set dict_item=#{dict_item} where dict_id=#{dict_id}
    </update>

    <insert id="allDict" parameterType="com.yq.crm.entity.Dict">
        insert into bas_dict(dict_type,dict_item,dict_is_editable)
        values('服务类型',#{dict_value},'1')
    </insert>

    <select id="finId" resultMap="DictMap">
        select * from bas_dict where  dict_id=#{id}
    </select>
</mapper>