<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.crm.mapper.PlanMapper">
    <select id="findAll" resultType="com.example.crm.entity.Chance">
        select * from sal_chance
        <where>
            <choose>
                <when test="chcCustName !=null and chcLinkman!=null and chcTitle!=null">
                    and chc_cust_name like concat('%',#{chcCustName},'%') and chc_linkman like concat('%',#{chcLinkman},'%') and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman==null and chcTitle==null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman!=null and chcTitle==null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')and chc_linkman like concat('%',#{chcLinkman},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman==null and chcTitle!=null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman!=null and chcTitle!=null">
                    and chc_linkman like concat('%',#{chcLinkman},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman==null and chcTitle!=null">
                    and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman!=null and chcTitle!=null">
                    and chc_linkman like concat('%',#{chcLinkman},'%')  and chc_title like concat('%',#{chcTitle},'%')
                </when>
            </choose>
            and chc_status=3
        </where> LIMIT #{current},#{pageSize}
    </select>

    <insert id="insert">
        insert into sal_chance(chc_cust_name,chc_linkman,chc_tel,chc_title,chc_source,chc_due_data,chc_desc)
        values (#{chc_cust_name},#{chc_linkman},#{chc_tel},#{chc_title},#{chc_source},#{chc_due_data},#{chc_desc});
    </insert>

    <select id="count" resultType="int">
        select count(1) from sal_chance
        <where>
            <choose>
                <when test="chcCustName !=null and chcLinkman!=null and chcTitle!=null">
                    and chc_cust_name like concat('%',#{chcCustName},'%') and chc_linkman like concat('%',#{chcLinkman},'%') and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman==null and chcTitle==null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman!=null and chcTitle==null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')and chc_linkman like concat('%',#{chcLinkman},'%')
                </when>
                <when test="chcCustName !=null and chcLinkman==null and chcTitle!=null">
                    and chc_cust_name like concat('%',#{chcCustName},'%')and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman!=null and chcTitle!=null">
                    and chc_linkman like concat('%',#{chcLinkman},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman==null and chcTitle!=null">
                    and chc_title like concat('%',#{chcTitle},'%')
                </when>
                <when test="chcCustName ==null and chcLinkman!=null and chcTitle!=null">
                    and chc_linkman like concat('%',#{chcLinkman},'%')  and chc_title like concat('%',#{chcTitle},'%')
                </when>
            </choose>
            and chc_status=3
        </where>
    </select>

<!--    &lt;!&ndash;    设置对应的映射&ndash;&gt;-->
<!--    <resultMap id="findAll2" type="com.example.crm.entity.Chance">-->
<!--        <id property="chcId" column="chc_id"/>-->
<!--        <result property="chcSource" column="chc_source"/>-->
<!--        <result property="chcCustName" column="chc_cust_name"/>-->
<!--        <result property="chcTitle" column="chc_title"/>-->
<!--        <result property="chcRate" column="chc_rate"/>-->
<!--        <result property="chcLinkman" column="chc_linkman"/>-->
<!--        <result property="chcTel" column="chc_tel"/>-->
<!--        <result property="chcDesc" column="chc_desc"/>-->
<!--        <result property="chcCreateId" column="chc_create_id"/>-->
<!--        <result property="chcCreateBy" column="chc_create_by"/>-->
<!--        <result property="chcCreateDate" column="chc_create_date"/>-->
<!--        <result property="chcDueId" column="chc_due_id"/>-->
<!--        <result property="chcDueTo" column="chc_due_to"/>-->
<!--        <result property="chcDueDate" column="chc_due_date"/>-->
<!--        <result property="chcStatus" column="chc_status"/>-->
<!--    </resultMap>-->
</mapper>