<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .x_content form ul {
            list-style: none;
        }

        .x_content form ul li {
            width: 350px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

</body>
</html>