<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <title>销售管理</title>
    <link th:href="@{/localcss/crmlist.css}" href="../static/localcss/crmlist.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            用户管理 <i class="fa fa-lk"></i>
                            <small>
                                - ^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <form method="post" action="/user/list" th:action="@{/user/list}">
                            <input type="hidden" name="pageIndex" value="1"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">编号</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="usrId" type="text"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">用户名</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="usrName" type="text"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" onclick="page()" class="btn btn-primary"> 查 &nbsp;&nbsp;&nbsp;&nbsp;询</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/user/toadd" th:href="@{/user/toadd}"
                                       class="btn btn-success btn-sm">新增用户</a>
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">编号
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                用户名
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="user:${userPage.getRecords()}">
                                            <td tabindex="0" class="sorting_1" th:text="${user.usrId}">usrId</td>
                                            <td th:text="${user.usrName}">usrName</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button

                                                            th:onclick="'toedit('+${user.usrId}+')'"
                                                            data-toggle="tooltip"
                                                            data-placement="top" title=""
                                                            data-original-title="编辑">编辑
                                                    </button>
                                                    <button
                                                            th:onclick="'del(this,'+${user.usrId}+')'"
                                                            data-toggle="tooltip" data-placement="top" title=""
                                                            data-original-title="删除">删除
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="datatable-responsive_info"
                                         role="status" aria-live="polite">共
                                        <span th:text="${userPage.total}">0</span>条记录
                                        <span th:text="${userPage.current}">0</span>
                                        /
                                        <span th:text="${userPage.pages}">0</span>页
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="datatable-responsive_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button-sy">
                                                <a
                                                        href="javascript:page(1)"
                                                        aria-controls="datatable-responsive" data-dt-idx="0"
                                                        tabindex="0">首页
                                                </a>
                                            </li>
                                            <li class="paginate_button-prv">
                                                <a
                                                        th:href="'javascript:page('+(${userPage.getCurrent()}-1)+')'"
                                                        aria-controls="datatable-responsive" data-dt-idx="1"
                                                        tabindex="0">上一页
                                                </a>
                                            </li>
                                            <li class="paginate_button-next">
                                                <a
                                                        th:href="'javascript:page('+(${userPage.getCurrent()}+1)+')'"
                                                        aria-controls="datatable-responsive" data-dt-idx="2"
                                                        tabindex="0">下一页
                                                </a>
                                            </li>
                                            <li class="paginate_button-zh">
                                                <a
                                                        th:href="'javascript:page('+${userPage.getPages()}+')'"
                                                        aria-controls="datatable-responsive" data-dt-idx="7"
                                                        tabindex="0">最后一页
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script layout:fragment="js">

    window.onload = function () {
        if ($("#datatable-responsive_info>span:eq(1)").text() == 1) {
            $(".paginate_button-sy>a").attr("hidden", "hidden");
            $(".paginate_button-prv>a").attr("hidden", "hidden");
        }
    }

    /**
     *跳转修改页面
     */
    function toedit(usrId) {
        location.href = '/user/toedit?usrId=' + usrId;
    }

    /**
     * 动态分页
     * @param current
     */
    function page(current) {
        //获取数据
        var usrId = $("[name=usrId]").val();
        var usrName = $("[name=usrName]").val();
        $.ajax({
            url: "/user/ajaxlist"
            ,
            type: 'post'
            ,
            data: {
                'usrId': usrId,
                'usrName': usrName,
                'current': current
            }
            ,
            dataType: 'JSON'
            ,
            success: function (datas) {
                if (null != datas) {
                    $("tbody:eq(0)>*").remove(); //删除之前的数据
                    for (var i = 0; i < datas.records.length; i++) {
                        $("tbody:eq(0)").append(" <tr id='oy' role=\"row\" class=\"odd\" >\n" +
                            "                                            <td tabindex=\"0\" class=\"sorting_1\" \">" + datas.records[i].usrId + "</td>\n" +
                            "                                            <td>" + datas.records[i].usrName + "</td>\n" +
                            "                                            <td>\n" +
                            "                                                <div class=\"btn-group\">\n" +
                            "                                                    <button\n" +
                            "                                                            onclick=\"toedit('" + datas.records[i].usrId + "')\"\n" +
                            "                                                       data-toggle=\"tooltip\"\n" +
                            "                                                       data-placement=\"top\" title=\"\"\n" +
                            "                                                       data-original-title=\"编辑\">编辑</button>\n" +
                            "                                                    <button\n" +
                            "                                                       onclick=\"del(this,'" + datas.records[i].usrId + "')\"\n" +
                            "                                                       data-toggle=\"tooltip\" data-placement=\"top\" title=\"\"\n" +
                            "                                                       data-original-title=\"删除\">删除</button>\n" +
                            "                                                </div>\n" +
                            "                                            </td>\n" +
                            "                                        </tr>")
                    }
                    //修改页面数据
                    $("#datatable-responsive_info>span").eq(0).text(datas.total);
                    $("#datatable-responsive_info>span").eq(1).text(datas.current);
                    $("#datatable-responsive_info>span").eq(2).text(datas.pages);
                    //修改属性
                    if (datas.current == 1) {
                        $(".paginate_button-sy>a").attr("hidden", "hidden");
                        $(".paginate_button-prv>a").attr("hidden", "hidden");
                        $("#datatable-responsive_info>span").eq(3).text("到达首页了");
                    } else {
                        $(".paginate_button-sy>a").removeAttr("hidden");
                        $(".paginate_button-prv>a").removeAttr("hidden").attr("href", "javascript:page(" + (datas.current - 1) + ")");
                    }

                    if (datas.current == datas.pages) {
                        $(".paginate_button-zh>a").attr("hidden", "hidden");
                        $(".paginate_button-next>a").attr("hidden", "hidden");
                        $("#datatable-responsive_info>span").eq(3).text("到达末页了");
                    } else {
                        $(".paginate_button-next>a").removeAttr("hidden").attr("href", "javascript:page(" + (datas.current + 1) + ")");
                        ;
                        $(".paginate_button-zh>a").removeAttr("hidden").attr("href", "javascript:page(" + (datas.pages) + ")");
                    }
                }
            },
            error: function (data) {
                alert("错误，错误码：" + data.status)
            }
        })
    }

    /**
     * 删除用户
     * @param obj
     * @param usrId
     */
    function del(obj, usrId) {
        if (confirm("你确定需要删除该用户信息吗？")) {
            $.ajax({
                type: "get",
                url: "/user/del?usrId=" + usrId,
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        alert("删除成功");
                        page($("#datatable-responsive_info>span:eq(1)").text()); //动态刷新
                    } else {
                        alert("删除失败");
                    }
                },
                error: function (data) {
                    alert("出现错误，错误码：" + data.status)
                }
            });
        }
    }
</script>
</html>